#dark-mode-button {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    height: 25px;
    border: 2px solid #ADADAD;
    border-radius: 20px;
    transition: all 0.5s;
}

#dark-mode-switch {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #ADADAD;
    transition: all 0.5s;
}